* {
	box-sizing: border-box;
	font-family: "Comic Sans MS", sans-serif;
}

body {
	background-color: #b0ff94;
	margin: 0;
	padding: 0;
}

/* Charlotte code below */

/* Liam code below */

/* Rich code below */
.rich {
	font-family: Arial sans-serif;
	color: red;
	margin: 25%;
	padding-left: 20px;
}
.rich img {
	justify-content: center;
	max-width: 520px;
	max-height: 520px;
}


/* Ollie code below */

/* Max code below */

/* Stephen code below */