* {
	box-sizing: border-box;
	font-family: Calibri, sans-serif;
}

body {
	background-color: #b0ff94;
	margin: 0;
	padding: 0;
}

/* Charlotte code below */
.charlotte {
	margin: auto;
	width: 50%;
}

.charlotte h2, .charlotte h3, .charlotte p {
	color: #556cf2;
	font-family: 'Rubik', sans-serif;
}

.charlotte img {
	width: 75%;
	height: auto;
	border-radius: 10px;
	border: 5px;
	border-color: #556cf2 ;
}

/* Liam code below */

/* Rich code below */

/* Ollie code below */

/* Max code below */

/* Stephen code below */